<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css">
</head>
<body>
<div class="login-container">
    <div class="row">
        <div class="col s12 m6 l4 offset-l4 offset-m3">
            <div class="card z-depth-2">
                <div class="blue card-header">
                    <h4> Register</h4>
                    <p class="login-form-text">Join to our community now !</p>
                </div>
                <div class="card-content">
                    <form action="" method="post">
                        <div class="row">
                            <div class="input-field">
                                <input type="text" class="validate" name="username">
                                <label>Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <input type="email" name="email" id="email">
                                <label> Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <input type="password" class="validate" name="password">
                                <label>Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <input type="password" name="password-again" id="password-again">
                                <label>Password Again</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="blue btn waves-effect waves-light col s12" type="submit" name="action">REGISTER NOW</button>
                        </div>
                    </form>
                </div>
                <div class="row card-action medium-small margin">
                    <p class="margin center medium-small sign-up">Already have an account? <a href="login.html">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../dist/js/app.js"></script>
</body>
</html>