
// Colors

$color-write: #FFFFFF;
$color-black:#333;
$color-grey: #EBEDEA;
$color-sirena: #8ED7BF;
$color-ivoty-isn:#FCF3CE;
$color-pastel-orange: #F9BB96;

//componetes colors
$main-text-color:$color-black;
$body-background-color:$color-write;
