//Variables
$web-header-backgroung: $color-sirena;
$web-header-color: $color-write;

.web-header{
  z-index: 99;
  top: 0%;left: 0px;
  position: fixed;
  width: 100%;
  padding: 10px 0px;
  padding-bottom: 0px;
  background: fade-out($web-header-backgroung, 0.1);
  color: $web-header-color;
  text-align: center;
  .web-title{
    font-size: $font-size-base + 5px;
    text-shadow: 2px 2px 0px darken($web-header-backgroung, 30%);
  }
  .add-icon{
    float: right;
    margin-right: 10px;
    transition: transform 0.25s;
    cursor: pointer;
  }
  .add-menu{
    float: left;
    margin-left: 10px;
    transition: transform 0.25s;
    cursor: pointer;
  }

}

//Nav Wambo

.navbar-list{
  z-index: 99;
  display: flex;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  padding: 10px 0px;
  background: fade-out($web-header-backgroung, 0.1);

  .navbar-item{
    width: 20%;
    text-align: center;
    transition: all 0.5s;
    a {
      color: $color-write;
      list-style-type: none;
    }
  }
  :hover{
    background: fade-out($web-header-backgroung, 0.1);
  }
}


